.flipCardContainer {
	perspective: 1000px;
}

.flipCard {
	position: relative;
	width: 100%;
	height: 264px;
	margin: 0 auto;
	transform-style: preserve-3d;
}

.flipCardFront,
.flipCardBack {
	position: absolute;
	inset: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 1.5rem;
	overflow: hidden;
	background: linear-gradient(to bottom, rgb(39, 39, 42), rgb(24, 24, 27));
	transform-style: preserve-3d;
}

.flipCardFront {
	z-index: 2;
}
