@import "tailwindcss";

@import "lenis/dist/lenis.css";

:root {
	--background: #000000;
	--foreground: #171717;
	--color-accent: #ffbe7a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-accent: var(--color-accent);
	--font-bg: var(--font-bg);
	--font-iceland: var(--font-iceland);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
